/* you can add to or change this. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#game {
  border: 1px solid black;
  height: 700px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  perspective: 1000px;
}
h2 {
  position: absolute;
  top: 150px;
}
p{
  position: absolute;
  top: 200px;
}
h1 {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  width: 100%;
  position: absolute;
  top: 50px;
  background-color: greenyellow;
}
#game div {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}
#game div:hover {
  transform: scale(.95);
  transition: transform .2s;
}
#game div.flip {
  transform: rotateY(180deg);
}
#game div:nth-child(1) {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  bottom: 100px;
  left: 49px;
  background-color: rgb(179, 231, 102);
}
#game div:nth-child(2) {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  bottom: 100px;
  right: 49px;
  background-color: rgb(179, 231, 102);
}
#rank {
  border: 1px solid black;
}